@page
@model RE_House_Bot_Configuration.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome</h1>

<ul>
    <li><a href="/Settings">Settings</a></li>
    <li><a href="/MessageText">MessageText</a></li>
</ul>
