@page
@model RE_House_Bot_Configuration.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<style>
    .settings-form {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .settings-textarea {
        width: 100%;
        min-height: 200px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: vertical;
    }

    .settings-button {
        background-color: #20B2AA;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .settings-button:hover {
            background-color: #008B8B;
        }

    .page-header {
        text-align: center;
        padding: 20px;
    }

    .page-title {
        font-size: 36px;
        font-weight: bold;
    }
</style>

<div class="page-header">
    <h1 class="page-title">Settings Page</h1>
</div>

<form method="post" class="settings-form">
    @Html.AntiForgeryToken()
    <textarea name="settings" class="settings-textarea">@Model.Settings</textarea><br />
    <button type="submit" class="settings-button">Save</button>
</form>